body {
  background: #c9d7dd;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
a {
  color: #76aac2;
}
.container {
  background: rgba(237, 247, 252, 0.8);
  max-width: 600px;
  margin: 45px auto;
  padding: 40px;
  box-shadow: 14px 9px 21px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}
header {
  border-bottom: 1px solid #c9d7dd;
  padding: 0 0 30px 0;
}

.search-form {
  margin: 2px;
}

.search-form-input {
  background: #c9d7dd;
  border: none;
  border-radius: 4px;
  width: 90%;
  font-size: 15px;
  padding: 15px 10px;
}

.search-form-button {
  background: #76aac2;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 2px;
  font-size: 15px;
}

.weather-app-city {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
main {
  padding: 30px 0;
}
.current {
  display: flex;
  justify-content: space-between;
}
.icon-plus-temperature {
  display: flex;
}

.icon {
  position: relative;
  top: -10px;
  margin-right: -8px;
}

.weather-unit {
  margin-top: -5px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}
.just-temperature {
  display: flex;
  justify-content: center;
}
.current-temperature {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  font-size: 60px;
  line-height: 48px;
  font-weight: bold;
}
.date-state {
  margin: 8px 0;
  color: #8ab1c2;
  font-weight: 400;
  font-size: 14px;
}

.other-info {
  margin-top: 0;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}
strong {
  color: rgba(0, 0, 0, 0.7);
}

.weather-forecast {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.weather-forecast-date {
  font-size: 19px;
  opacity: 0.5;
  color: #08212a;
}

.weather-forecast-temperature {
  font-size: 16px;
}

.forecast-max {
  opacity: 0.7;
}

.forecast-min {
  opacity: 0.5;
}

footer {
  border-top: 1px solid #c9d7dd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}
