body {
  background: #c9d7dd;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
a {
  color: #76aac2;
}
.container {
  background: rgba(237, 247, 252, 0.8);
  max-width: 300px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 14px 9px 21px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}
header {
  border-bottom: 1px solid #c9d7dd;
  padding: 0 0 30px 0;
}

.search-form {
  margin: 2px;
}

.search-form-input {
  background: #c9d7dd;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-size: 15px;
  padding: 15px 10px;
}

.search-form-button {
  background: #76aac2;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 2px;
  font-size: 15px;
}

.weather-app-city {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
main {
  padding: 15px 0;
}
.current-icon {
  text-align: center;
  margin: 0;
  padding: 0;
}
.icon {
  width: 150px;
}

.weather-unit {
  margin-top: 4px;
  font-size: 20px;
}
.just-temperature {
  display: flex;
  justify-content: center;
}
.current-temperature {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: bolder;
}
.date-state {
  text-align: center;
  margin-bottom: 0;
  color: #8ab1c2;
  font-weight: 500;
}

.parent-other-info {
  display: flex;
  justify-content: center;
}
.other-info {
  margin-top: 0;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}
.other-info strong {
  color: rgba(0, 0, 0, 0.8);
}

footer {
  border-top: 1px solid #c9d7dd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.8);
}
